//Base palette
$white: #ffffff;
$black: #000000;
$red: #DD3535;
$gray-dark: #34373C;
$gray: #747980;
$gray-medium: #7D7C7C;
$green: #5A892B;
$pink: #FCC3C3;

//Semantic colors
$color-background: $white;

//Cards
$color-card: $red;
$color-card-success: $pink;
$color-button-card: $gray-medium;
$color-border-card: $gray-medium;

//Text
$color-text-primary: $gray-dark;
$color-text-secondary: $gray;
$color-text-success: $green;
$color-text-card: $white;

//Icons
$color-arrow: $red;
$color-timer: $red;

//Mixins 
@mixin text-primary {
  color: $color-text-primary;
}

@mixin text-secondary {
  color: $color-text-secondary;
}

@mixin text-success {
  color: $color-text-success;
}

@mixin text-card {
  color: $color-text-card;
}

@mixin background {
  background-color: $color-background;
}

@mixin background-card {
  background-color: $color-card;
}

@mixin background-card-success {
  background-color: $color-card-success;
}

@mixin background-button-card {
  background-color: $color-button-card;
}

@mixin border-card {
  border-color: $color-border-card;
}

@mixin arrow {
  color: $color-arrow;
  fill: $color-arrow;
}

@mixin timer {
  color: $color-timer;
}