@use "../../styles/typography" as *;
@use "../../styles/colors" as *;
.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 20px;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/gameBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
  }
}
.container {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  height: 90px;
  border-radius: 45px;
  border: none;
  padding: 0 50px;
  outline: none;
  border: 3px solid $black;

  @include font-32;

  color: $black;
  background-color: $white;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  &::placeholder {
    color: $gray-medium;
    opacity: 0.6;
  }
}
.submitBlock {
  margin-top: 40px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.joinButton {
  background: none;
  border: none;
  cursor: pointer;
  @include font-100;
  color: $black;
  text-transform: uppercase;
  transition: transform 0.2s;

  display: inline-block;
  margin: 0 auto;

  &:hover {
    transform: scale(1.1);
  }
}
.errorText {
  color: $red;
  margin-top: 10px;
  font-size: 18px;
  text-align: left;
  padding-left: 50px;
  width: 100%;
}

.YellowGuy,
.RedGuy {
  position: absolute;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
  opacity: 0.5;
  pointer-events: none;
}

.YellowGuy {
  top: 10px;
  right: -70px;
  background-image: url("../../assets/images/yellowGuy.png");
  display: block;
  width: 538px;
  height: 504px;
}

.RedGuy {
  left: -85px;
  top: 245px;
  background-image: url("../../assets/images/RedGuyRemoved.png");
  width: 603px;
  height: 603px;
  transform: rotate(-3deg);
}

.home {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 2px solid $black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  .homeSign {
    width: 45px;
    height: 45px;
    background-image: url("../../assets/images/house.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
