@use "../../styles/typography" as *;
@use "../../styles/colors" as *;

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 20px;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/gameBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
  }
}
.container {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: -200px;
  
}

.form {
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 100%;
  align-items: center;
}

.inputWrapper {
width: 100%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin: 0 auto; 
}

.input {
  width: 100%;
  max-width: 750px;
  height: 90px;
  border-radius: 45px;
  padding: 0 50px;
  outline: none;
  border: 3px solid $black;

  @include font-32;

  color: $black;
  background-color: $white;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  &::placeholder {
    color: $gray-medium;
    opacity: 0.6;
    text-align: left;
  }
}
.submitBlock {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joinButton {
  background: none;
  border: none;
  cursor: pointer;
  @include font-100;
  color: $black;
  text-transform: uppercase;
  transition: transform 0.2s;
  display: inline-block;
  width: auto;
  text-align: center;
  white-space: nowrap;
  padding: 0;

  &:hover {
    transform: scale(1.1);
  }
}
.errorText {
 color: $red;
  margin-top: 10px;
  font-size: 24px; 
  text-align: left;
  width: 100%;
  max-width: 750px;
  padding-left: 30px; 
  box-sizing: border-box;
}

.YellowGuy,
.RedGuy {
  position: absolute;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
  opacity: 0.5;
  pointer-events: none;
}

.YellowGuy {
  top: 100px;
  right: -70px;
  background-image: url("../../assets/images/yellowGuy.png");
  display: block;
  width: 1000px;
  height: 1000px;
  z-index: 1;
}

.RedGuy {
  left: -85px;
  top: 350px;
  background-image: url("../../assets/images/RedGuyRemoved.png");
  width: 1000px;
  height: 1000px;
  transform: rotate(-3deg);
}

.home {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 130px;
  height: 130px;
  background-color: transparent;
  border: 6px solid $black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

    .homeSign {
    width: 90px;
    height: 90px;
    background-image: url("../../assets/images/house.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}