@import "../../styles/colors.scss";
@import "../../styles/typography.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

.label {
  @include font-pangolin(48);
  color: $gray-dark;
  margin: 0;
  line-height: 1;
}

.value {
  @include font-acme(64);
  color: $red;
  margin: 0;
  line-height: 1.1;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}