@import "../../styles/typography.scss";
@import "../../styles/_colors.scss";

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 150px 20px;
  box-sizing: border-box;

  background-image: url("../../assets/images/gameBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 600px;
  padding: 20px 30px;
  background-color: $red;
  border-radius: 50px;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: 8px solid $gray-medium;

  &.waiting {
    opacity: 0.8;
  }
  &.end {
    opacity: 1;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
}

.shadow {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: $gray-medium;
  border-radius: 40px;
  left: 0;
  top: 20px;

  &.waiting {
    opacity: 0.8;
  }
  &.end {
    opacity: 1;
  }
}

.title {
  @include font-pangolin(55);
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.part {
  flex-grow: 1;
  width: 100%;
  .text {
    @include font-pangolin(45);
    text-align: left;
  }
}

.GoBackButton {
  align-self: flex-end;
  margin-top: 20px;
  padding: 5px 20px;
  background-color: $gray-medium;
  color: $white;
  border-radius: 40px;
  cursor: pointer;
  @include font-32;
  transition: background 0.2s, opacity 0.3s;

  &.waiting {
    opacity: 0.8;
  }
  &.end {
    opacity: 1;
  }
}

.home {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 130px;
  height: 130px;
  background-color: transparent;
  border: 6px solid $black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

    .homeSign {
    width: 90px;
    height: 90px;
    background-image: url("../../assets/images/house.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}