@use "../../styles/typography.scss" as *;
@use "../../styles/_colors.scss" as *;

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  @media (max-width: 768px) {
    padding: 5px;
  }
}

.box {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 700px;
  max-height: 85vh;
  overflow: hidden;
  padding: 30px 15px;
  background-color: $red;
  -webkit-text-stroke: 0.5px $black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: 10px solid $gray-medium;

  @media (max-width: 768px) {
    border-width: 5px;
    padding: 20px 10px;
    height: 80vh;
    max-height: 85vh;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
}

.shadow {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: $gray-medium;
  border-radius: 40px;
  left: 0;
  top: 10px;

  &.waiting {
    opacity: 0.8;
  }

  &.end {
    opacity: 1;
  }
}

.title {
  @include font-pangolin(55);
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.part {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow-y: auto;
  padding: 5px 15px 20px 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;

  @media (max-width: 768px) {
    padding: 5px 10px 10px 10px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .text {
    @include font-pangolin(45);
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    line-height: 1.3;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }
}

.GoBackButton {
  align-self: flex-end;
  margin-top: 20px;
  padding: 5px 20px;
  background-color: $gray-medium;
  color: $white;
  border-radius: 40px;
  cursor: pointer;
  @include font-32;
  transition: background 0.2s, opacity 0.3s;

  &.waiting {
    opacity: 0.8;
  }

  &.end {
    opacity: 1;
  }
}

.home {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 130px;
  height: 130px;
  background-color: transparent;
  border: 6px solid $black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  .homeSign {
    width: 90px;
    height: 90px;
    background-image: url("../../assets/images/icon_home.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}