
.app-view {
  width: 100%;
  height: 100vh;
  background-image: url(./assets/images/gameBackground.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.logo {
  max-width: 85%;
  width: 1200px;
  height: auto;
  margin-top: -10vh;
  margin-bottom: 20px;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.gameCodePos {
  position: absolute;
  top: 40px;
  right: 60px;
}

.roundPos {
  position: absolute;
  top: 40px;
  right: 60px;
}

