@import "./styles/colors.scss";
@import "./styles/typography.scss";

.app-view {
  width: 100%;
  height: 100vh;
  background-image: url(./assets/images/gameBackground.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.logo {
  max-width: 85%;
  width: 1200px;
  height: auto;
  margin-top: -10vh;
  margin-bottom: 20px;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.create-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  max-width: 1000px;
  margin-top: -10vh;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.nickname-input {
  @include font-able-32; 
  width: 100%;
  height: 90px;
  border-radius: 45px;
  padding: 0 40px;
  outline: none;
  color: $black;
  background-color: $white;
  text-align: left; 
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border: 2px solid $black; 
  box-sizing: border-box;

  &::placeholder {
    color: $gray-medium;
    opacity: 0.6;
    text-align: left
  }
}

.error-message {
  @include font-able(24);
  color: $red;
  align-self: flex-start;
  margin-left: 40px;
  margin-top: -30px;
}

.lobby-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 100%;
  max-width: 800px;
  margin-top: -10vh;
}

.lobby-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.lobby-text {
  @include font-pangolin(80);
  color: $black;
  margin: 0;
  text-align: center;
}

.lobby-subtitle {
   @include font-pangolin(70);
  color: $black;
  margin: 0;
  text-align: center;
}

.players-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.player-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crown-icon {
  position: absolute;
  right: 100%;
  margin-top: 15px;
  width: 80px;
  height: auto;
  object-fit: contain;
  transform: translateY(-15px) translateX(15px);
}

.player-name {
  @include font-pangolin(40);
  color: $black;
}

.lobby-actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.gameCodePos {
  position: absolute;
  top: 40px;
  right: 60px;
}

.roundPos {
  position: absolute;
  top: 40px;
  right: 60px;
}

.timerPos {
  position: absolute;
  top: 40px;
  left: 60px;
}

.homeIconPos {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 130px;
  height: 130px;
  background-color: transparent;
  border: 6px solid $black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  img {
    width: 90px;
    height: 90px;
    object-fit: contain;
  }
}

