@use "../../styles/typography" as *;
@use "../../styles/colors" as *;
.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 150px 20px;
  box-sizing: border-box;
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/gameBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
  }
}

.container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  max-width: 600px;
}

.nickText {
  @include font-40;
  color: $black;
  text-transform: uppercase;
  margin: 0;
}

.countText {
  @include font-32;
  color: $red;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  text-shadow:
    1px,
    1px,
    2px rgba(0, 0, 0, 0.1);
}

.waitingText {
  @include font-50;
  color: $black;
  text-transform: uppercase;
}
.yellowGuy,
.redGuy {
  position: absolute;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
  opacity: 0.5;
  pointer-events: none;
}

.yellowGuy {
  top: 10px;
  right: -70px;
  background-image: url("../../assets/images/yellowGuy.png");
  display: block;
  width: 538px;
  height: 504px;
}

.redGuy {
  left: -85px;
  top: 245px;
  background-image: url("../../assets/images/RedGuyRemoved.png");
  width: 603px;
  height: 603px;
  transform: rotate(-3deg);
}

.home {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 2px solid $black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  .homeSign {
    width: 45px;
    height: 45px;
    background-image: url("../../assets/images/house.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
