@use "../../styles/colors" as *;
@use "../../styles/typography.scss" as *;

.input {
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  color: $black;
  background-color: $white;
  font-family: inherit;

  &::placeholder {
    color: $gray-medium;
    opacity: 0.6;
  }
}