@import "../../styles/colors";
@import "../../styles/typography.scss";

.input {
  width: 100%;
  height: 90px;
  border-radius: 45px;
  border: none;
  padding: 0 50px;
  outline: none;
  
  @include font-able(32); 
  
  color: $black;
  background-color: $white;
  text-align: left; 
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  &::placeholder {
    color: $gray-medium;
    opacity: 0.6;
  }
}