@use "../../styles/typography" as *;
@use "../../styles/colors" as *;

.box {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 550px;
  padding: 50px 60px;
  background-color: $red;
  border-radius: 50px;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: 10px solid $gray-medium;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
}

.shadow {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: $gray-medium;
  border-radius: 40px;
  left: 0;
  top: 30px;
}

.title {
  @include font-pangolin(55);
  margin-bottom: 20px;
  margin-top: 2px;
  text-align: center;
}

.part {
  flex-grow: 1;
  width: 100%;
  .text {
    @include font-pangolin(45);
    text-align: left;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
  width: 100%;
  margin-top: auto;
  padding-top: 20px;
}

.GoBackButton {
  margin-top: 20px;
  padding: 5px 20px;
  background-color: $gray-medium;
  color: $white;
  border-radius: 40px;
  cursor: pointer;
  @include font-32;
  transition: background 0.2s, opacity 0.3s;
  white-space: nowrap;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 150px 20px;
  box-sizing: border-box;
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/gameBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
  }
}
